<!doctype html>
<html>
  <head>

    <!-- META -->
    <meta charset="utf-8">
    <title>Webpack 3 Starter Kit</title>
    <meta name="description" content="Less time configuring, more time coding">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- LINKS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <!-- SCRIPTS -->
    <script async src="main.js"></script>

  </head>
  <body>

    <div class="row align-center align-middle container">
      <div class="column">
        <h1>Webpack 3 Starter Kit</h1>

        <h2>Less time configuring, more time coding</h2>

        <img src="images/dilbert.jpg">

        <p>Learn more about <a target="_blank" href="https://webpack.js.org/">Webpack</a> and <a target="_blank" href="http://foundation.zurb.com/sites/docs/flex-grid.html">Foundation Flex Grid</a>
      </p>
    </div>

  </body>
</html>